header {
	background: var(--color-secondary);
	height: 10vh;

	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	border-bottom: 1px solid var(--border-color);
}
