<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>
		AlesCraft
	</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/css/variables.css">
	<link rel="stylesheet" href="/css/theme.css">

	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
	<%- include('../partials/header') %>

		<main>
			<%- body %>
		</main>

		<%- include('../partials/footer') %>
</body>

</html>